@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Comfortaa', 'Arial', sans-serif;
}

#root {
  height: 100%;
}

.game {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 2vmin;
}

.board-wrapper {
  position: relative;
  width: 40em;
  height: 40em;

  &.ended {
    .board {
      pointer-events: none;
      opacity: 0.4;
    }

    .reset-block {
      opacity: 1;
      transform: scale(1);
      pointer-events: auto;
    }
  }

  .board {
    width: 100%;
    height: 100%;
    margin: 0;
    flex-wrap: wrap;
    border-spacing: 0;
    touch-action: none;
  }

  .reset-block {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0.6);
    transition: transform .2s ease, opacity .2s ease;
    pointer-events: none;
    z-index: 1;

    .win-caption {
      font-size: 4em;
      text-shadow: 1px -1px 4px rgba(0,0,0,0.3);
      font-weight: bold;
      user-select: none;
    }
  }
}

.cell {
  border: 1px solid rgba(0, 0, 0, 0.2);
  justify-content: center;
  padding: 0;
  align-items: center;
  background-color: #fff;
  transition: transform .2s ease, box-shadow .1s ease;
  will-change: transform, box-shadow;
  user-select: none;

  > img {
    display: block;
    pointer-events: none;
  }

  &.victorious {
    position: relative;
    z-index: 1;
    animation: bounce 2s infinite;
  }
}

.status-panel {
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 40em;

  .panel-x-block, .panel-o-block, .info-content {
    display: flex;
    align-items: flex-end;
    font-size: 2.6em;
    font-family: monospace;

    > img {
      width: 1.2em;
      transition: transform .2s ease, opacity .2s ease;
    }
  }

  .panel-x-block > img {
    opacity: 0.4;
    margin-left: 0.2em;
    transform-origin: left center;
  }

  .panel-o-block > img {
    opacity: 0.4;
    margin-right: 0.2em;
    transform-origin: right center;
  }

  &.x-move .panel-x-block,
  &.o-move .panel-o-block {
    > img {
      opacity: 1;
      transform: scale(1.6);
    }
  }
}

@media (hover: none) {
  .cell {
    &:not(.victorious).hovered {
      position: relative;
      transform: scale(1.15);
      box-shadow: 0 0 4px rgba(0,0,0,.6);
      z-index: 1;
    }
    &:not(.hovered).highlighted {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

@media (hover: hover) {
  .cell {
    &:not(.victorious):hover {
      position: relative;
      transform: scale(1.15);
      box-shadow: 0 0 4px rgba(0,0,0,.6);
      z-index: 1;
    }
  }
}

@keyframes bounce {
  0%   {transform: scale(1)}
  10%  {transform: scale(1.2)}
  20%  {transform: scale(1)}
  100% {transform: scale(1)}
}
